$pink: #E9A9A9;
$red: #FF3B30;
$yellow: #FFCC00;
$gray: #E5E5EA;
$light_green: #A7E758;
$green: #34C759;

$far_left: #BD4545;
$left: #E16060;
$center_left: #F58787;
$center_right: #7AE2E5;
$right: #6D87F1;
$far_right: #4648B5;

